.items {
    padding-top: 15px;
}

.items input {
    height: 50px;
    margin: .5rem;
}

.items select {
    height: 55px;
    margin: .5rem;
}

.items button {
    height: 55px;
    margin: .5rem;
}