<h1>Personal Accountant</h1>
<br>
<ul>
    <li>
        <%= link_to "GL Accounts", gl_accounts_path %>
    </li>
    <li>
        <p>Transactions</p>
    </li>
    <li>
        <p>Upload Transactions</p>
    </li>
    <li>
        <p>Income Statement</p>
    </li>
</ul>
