<h1>Personal Accountant</h1>
<br>
<br>
<ul>
    <li>
    <p>GL Accounts</p>
    </li>
    <li>
    <p>Transactions</p>
    </li>
    <li>
    <p>Upload Transactions</p>
    </li>
    <li>
    <p>Income Statement</p>
    </li>
</ul>
