<h1>Personal Accountant</h1>
<br>
<ul>
    <li>
       <p><%= link_to "GL Accounts", gl_accounts_path %></p> 
    </li>
    <li>
        <p><%= link_to "Transactions", transactions_path %></p>
    </li>
    <li>
        <p><%= link_to "Income Statement", income_statement_transactions_path %></p>
    </li>
</ul>
