<h1>Transactions</h1>

<ul>
  <% @transactions.each do |transaction| %>
    <li>
        <%= transaction.name %>
    </li>
  <% end %>
</ul>

<%= button_to "Back to Home", root_path, :method => "get" %>